html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.minewapper{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

.minewapper_desboard{
    width: 500px;
    height: 100px;
    display: flex;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-bottom: 3px;
}

.minewapper_footer{
    width: 500px;
    height: 100px;
    display: flex;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-top: 3px; 
}

.minewapper_item{
    flex: 1 0 0;
    background-color: black;
}

.minewapper_modal{
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.squard{

    border: 1px solid black ;
}

.Cover{
    background-color: rgb(4, 3, 3);
}   

.UnCover{
    background-color: rgb(255, 255, 255);
}

.Flag{
    background-color: rgb(255, 4, 4);
}

.Question{
    background-color: rgb(34, 11, 240);
}



.minewapper_matrix{
    display: grid;
    width: 500px;
    height: 500px;
    gap: 1px;
}




