.squard{
    height: 20px;
    width: 20px;
   
    border: 1px solid black ;
}

.Cover{
    background-color: rgb(4, 3, 3);
}   

.UnCover{
    background-color: rgb(255, 255, 255);
}

.Flag{
    background-color: rgb(255, 4, 4);
}

.Question{
    background-color: rgb(34, 11, 240);
}

#main{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

